<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CountDown | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex justify-center items-center h-[100vh] bg-[url(/img/bgImg.jpg)]"
  >
    <form action="/handleCountDown" class="text-center" method="post">
      <input
        type="text"
        name="minutes"
        placeholder="Enter Minutes"
        class="border-2 border-solid border-black h-[6vh] w-[30vw] rounded-xl text-[1.5rem] px-4 py-6"
        required
      /><br />
      <button
        type="submit"
        class="border-[1px] border-solid border-white rounded-xl px-6 py-2 font-bold text-white mt-[5vh]"
      >
        Start CountDown
      </button>
    </form>
  </body>
</html>
